{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="text-center">
                    <span class="numbers btn btn-info btn-simple">Current Activity</span>
                </div>
            </div>
            <div class="card-content" id="powerbi_dashboard_container">
                {%  if account.currentactivityurl is empty %}
                    {{ activity_current_dashboardUrl |raw }}
                {%  else %}
                    {{ account.currentactivityurl |iframecontent |raw }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}