{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="text-center">
                    <span class="numbers btn btn-info btn-simple">Nexus Report</span>
                </div>
            </div>
            <div class="card-content" id="powerbi_dashboard_container">
                {%  if account.nexusreporturl is empty %}
                    {{ nexus_powerbiUrl |raw }}
                {%  else %}
                    {{ account.nexusreporturl |iframecontent |raw }}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock body %}