{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="white">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 text-center">
                        <a href="{{ path('dashboard') }}">
                        <img id="login-logo" src="{{  asset('img/'~asset_image_login) }}"  />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div class="card" data-background="color" data-color="orange">
                            <div class="card-header">
                                <h3 class="card-title">Installer locked</h3>
                            </div>
                            <div class="card-content">
                                The installer has been locked wizard is not available please contact your system administrator to enable it
                            </div>
                            <div class="card-footer">
                                Click here to <a class="btn btn-info btn-primary btn-fill" href="{{ path('dashboard') }}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%  endblock %}