<div class="card">
<div class="card-header">
    <h4 class="card-title">SQS</h4>
    <a class="refresh pull-right" href="javascript:void(0);"><i class="fa fa-refresh fa-2x fa-fw"></i></a>
</div>
<div class="card-content">
    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
        {% set increment = 0 %}

            {% for message in messages %}
                 {% set increment = increment + 1 %}
             <tr>
                <td>{{ message.Body }}</td>
                <td>{{ message.MessageAttributes.User.StringValue }}</td>
             </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>