<div class="modal-dialog">
    <div class="modal-content">
        <form id="changepassword">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card-content change-password-form">
                    <div class="form-group">
                        <label class="control-label">Old password
                            <star>*</star>
                        </label>
                        <input class="form-control"
                               name="password"
                               id="password"
                               type="password"
                               data-rule-required="true"
                               data-msg-required="Please enter the password for the administrator account"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">New password
                            <star>*</star>
                        </label>
                        <input class="form-control"
                               name="newpassword"
                               id="newpassword"
                               type="password"
                               data-rule-required="true"
                               data-msg-required="Please enter the password for the administrator account" data-rule-strongpassword="true"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm new password
                            <star>*</star>
                        </label>
                        <input class="form-control"
                               name="confirmpassword"
                               id="confirmpassword"
                               type="password"
                               data-rule-equalTo="#newpassword"
                               data-msg-equalTo="Please enter the same password for both fields"/>
                    </div>

                    <div class="category">
                        <star>*</star>
                        Required fields
                    </div>
                    <div class="error" id="error_contents">
                </div>
                <div class="card-footer">
                    <div class="clearfix"></div>
                </div>
                <input type="hidden" name="id" value="{{ msgphp_user.current.id }}"/>
            </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary changepassword submit">Change</button>
                <button id="working" class="btn btn-simple hide pull-right">
                    <i class="fa fa-refresh fa-spin fa-3x"></i>
                </button>
            </div>
        </form>
    </div>
</div>